Package: com.yungraj.streaknotify
Name: StreakNotify
Version: 3.0.1
Architecture: iphoneos-arm
Description: Take snapchat streaks seriously? Make sure you know how much time you have left to respond with notifications! On your feed there will be a label that tells you how much time is remaining to keep the streak going. Requires snapchat 10.3+
Maintainer: nbear3<nuclearb3ar@gmail.com>
Author: Ilhan Raja
Section: Tweaks
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap (>= 1.0.2)
